<template name="App_body">
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home">Employee List</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>
                        {{#if currentUser}}
                            {{ currentUser.profile.name }}
                        {{else}}
                            Please login, Guest.
                        {{/if}}
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            {{#if currentUser}}
                                <a href="/" class="logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            {{else}}
                                <a href="login"><i class="fa fa-sign-in fa-fw"></i> Login</a>
                            {{/if}}
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="home"><i class="fa fa-home fa-fw"></i> Home </a>
                        </li>
                        <li>
                            {{#if currentUser}}
                            <a href="add">Tambah Karyawan</a>
                            {{else}}
                            <a href="login">Tambah Karyawan</a>
                            {{/if}}
                        </li>
                        <li>
                            {{#if currentUser}}
                            <a href="list">Daftar Karyawan</a>
                            {{else}}
                            <a href="login">Daftar Karyawan</a>
                            {{/if}}
                        </li>
                        <li>
                            {{#if currentUser}}
                            <a href="display">Lihat Semua Karyawan</a>
                            {{else}}
                            <a href="login">Lihat Semua Karyawan</a>
                            {{/if}}
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        {{> Template.dynamic template=main }}

    </div>
    <!-- /#wrapper -->
</template>